body {
    box-sizing: border-box;
    margin: o;
    padding: o;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 80px;
    color: maroon;
    background-color: black;
    text-align: center;
}

.link-container {
    outline: 5px solid black;
    display: flex;
    justify-content:space-around;
    align-items: center;
    max-height: fit-content;
    margin: 32px;
    height: 100px;
    gap: 8px;
}

.links {
    display: flex;
    gap: 200px;
 }
